@import url(/styles/variaveis.css);

/* Estilização Geral */
body {
    font-family: var(--rubik);
    font-size: 1rem;
    background-color: var(--navy-950);
    color: var(--white);
}

/* Estilização de Dispositivos Mobile */
@media screen and (max-width: 23.450rem) {
    /* Conteúdo em Geral */
    .conteudo {
        padding: 5.063rem 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    /* Conteúdo do Jeremy */
    .conteudo__jeremy {
        height: 12.9rem;
        display: flex;
        flex-direction: column;
        background-color: var(--navy-900);
        border-radius: 15px;
    }

    .jeremy__inicio {
        background-color: var(--purple-600);
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2rem 2rem 2.313rem 2rem;
        border-radius: 15px;
        gap: 1.5rem;
    }

    .jeremy__img {
        width: 4rem;
        border-radius: 50%;
        border: 3px solid var(--white);
    }

    .jeremy__info {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .jeremy__texto {
        font-size: .938rem;
        font-weight: 200;
        line-height: 18px;
        color: var(--navy-200);
    }

    .jeremy__nome {
        font-size: 1.5rem;
        font-weight: 200;
    }

    .jeremy__fim {
        display: flex;
        padding: 1.3rem 1rem 1.7rem 1rem;
        justify-content: space-between;
    }

    .jeremy__btn-daily {
        border: none;
        background-color: transparent;
        font-family: var(--rubik);
        font-size: 1.125rem;
        color: var(--purple-500);
    }

    .jeremy__btn-weekly {
        border: none;
        background-color: transparent;
        font-family: var(--rubik);
        font-size: 1.125rem;
        color: var(--purple-500);
    }

    .jeremy__btn-monthly {
        border: none;
        background-color: transparent;
        font-family: var(--rubik);
        font-size: 1.125rem;
        color: var(--purple-500);
    }

    .jeremy__btn-daily:hover {
        color: var(--white);
    }

    .jeremy__btn-weekly:hover {
        color: var(--white);
    }

    .jeremy__btn-monthly:hover {
        color: var(--white);
    }

    /* Display none */
    .hideout {
        display: none;
    }

    /* Conteudo Work */
    .conteudo__work {
        display: flex;
        flex-direction: column;
        background-color: var(--orange);
        border: 1px solid var(--navy-950);
        border-radius: 20px;
    }

    .work__inicio {
        border-radius: 15px;
        height: 2.375rem;
    }

    .work__img {
        position: absolute;
        right: 40px;
    }

    .work__cont {
        background-color: var(--navy-900);
        border-radius: 12px;
        z-index: 1;
        padding-left:1.719rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .work__meio {
        display: flex;
        gap: 13.438rem;
        padding-top: 1.5rem;
    }

    .work__texto {
        font-size: 1.125rem;
    }

    .work__btn {
        border: none;
        background: transparent;
    }

    .work__btnA {
        border: none;
        background: transparent;
    }

    .work__fim {
        display: flex;
        align-items: center;
        gap: 4rem;
        padding-bottom: 1.5rem;
    }

    .work__hora {
        font-size: 2rem;
        font-weight: 200;
    }

    .work__tempo {
        color: var(--navy-200);
    }

    /* Conteúdo Play */
    .conteudo__play {
        display: flex;
        flex-direction: column;
        background-color: var(--blue-300);
        border: 1px solid var(--navy-950);
        border-radius: 20px;
    }

    .play__inicio {
        border-radius: 15px;
        height: 2.375rem;
    }

    .play__img {
        position: absolute;
        right: 40px;
    }

    .play__cont {
        background-color: var(--navy-900);
        border-radius: 12px;
        z-index: 1;
        padding-left:1.719rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .play__meio {
        display: flex;
        gap: 13.5rem;
        padding-top: 1.5rem;
    }

    .play__texto {
        font-size: 1.125rem;
    }

    .play__btn {
        border: none;
        background: transparent;
    }

    .play__btnA {
        border: none;
        background: transparent;
    }

    .play__fim {
        display: flex;
        align-items: center;
        gap: 5rem;
        padding-bottom: 1.5rem;
    }

    .play__hora {
        font-size: 2rem;
        font-weight: 200;
    }

    .play__tempo {
        color: var(--navy-200);
    }

    /* Conteúdo Study */
    .conteudo__study {
        display: flex;
        flex-direction: column;
        background-color: var(--pink-400);
        border: 1px solid var(--navy-950);
        border-radius: 20px;
    }

    .study__inicio {
        border-radius: 15px;
        height: 2.375rem;
    }

    .study__img {
        position: absolute;
        right: 40px;
    }

    .study__cont {
        background-color: var(--navy-900);
        border-radius: 12px;
        z-index: 1;
        padding-left:1.719rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .study__meio {
        display: flex;
        gap: 12.9rem;
        padding-top: 1.5rem;
    }

    .study__texto {
        font-size: 1.125rem;
    }

    .study__btn {
        border: none;
        background: transparent;
    }

    .study__btnA {
        border: none;
        background: transparent;
    }

    .study__fim {
        display: flex;
        align-items: center;
        gap: 5.9rem;
        padding-bottom: 1.5rem;
    }

    .study__hora {
        font-size: 2rem;
        font-weight: 200;
    }

    .study__tempo {
        color: var(--navy-200);
    }

    /* Conteúdo Exercise */
    .conteudo__exercise {
        display: flex;
        flex-direction: column;
        background-color: var(--green-400);
        border: 1px solid var(--navy-950);
        border-radius: 20px;
    }

    .exercise__inicio {
        border-radius: 15px;
        height: 2.375rem;
    }

    .exercise__img {
        position: absolute;
        right: 40px;
    }

    .exercise__cont {
        background-color: var(--navy-900);
        border-radius: 12px;
        z-index: 1;
        padding-left:1.719rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .exercise__meio {
        display: flex;
        gap: 11.5rem;
        padding-top: 1.5rem;
    }

    .exercise__texto {
        font-size: 1.125rem;
    }

    .exercise__btn {
        border: none;
        background: transparent;
    }

    .exercise__btnA {
        border: none;
        background: transparent;
    }

    .exercise__fim {
        display: flex;
        align-items: center;
        gap: 5.7rem;
        padding-bottom: 1.5rem;
    }

    .exercise__hora {
        font-size: 2rem;
        font-weight: 200;
    }

    .exercise__tempo {
        color: var(--navy-200);
    }

    /* Conteúdo Social */
    .conteudo__social {
        display: flex;
        flex-direction: column;
        background-color: var(--purple-700);
        border: 1px solid var(--navy-950);
        border-radius: 20px;
    }

    .social__inicio {
        border-radius: 15px;
        height: 2.375rem;
    }

    .social__img {
        position: absolute;
        right: 40px;
    }

    .social__cont {
        background-color: var(--navy-900);
        border-radius: 12px;
        z-index: 1;
        padding-left:1.719rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .social__meio {
        display: flex;
        gap: 12.8rem;
        padding-top: 1.5rem;
    }

    .social__texto {
        font-size: 1.125rem;
    }

    .social__btn {
        border: none;
        background: transparent;
    }

    .social__btnA {
        border: none;
        background: transparent;
    }

    .social__fim {
        display: flex;
        align-items: center;
        gap: 5.4rem;
        padding-bottom: 1.5rem;
    }

    .social__hora {
        font-size: 2rem;
        font-weight: 200;
    }

    .social__tempo {
        color: var(--navy-200);
    }

    /* Conteúdo Self-Care */
    .conteudo__self-care {
        display: flex;
        flex-direction: column;
        background-color: var(--yellow-300);
        border: 1px solid var(--navy-950);
        border-radius: 20px;
    }

    .self__inicio {
        border-radius: 15px;
        height: 2.375rem;
    }

    .self__img {
        position: absolute;
        right: 40px;
    }

    .self__cont {
        background-color: var(--navy-900);
        border-radius: 12px;
        z-index: 1;
        padding-left:1.719rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .self__meio {
        display: flex;
        gap: 11.3rem;
        padding-top: 1.5rem;
    }

    .self__texto {
        font-size: 1.125rem;
    }

    .self__btn {
        border: none;
        background: transparent;
    }

    .self__btnA {
        border: none;
        background: transparent;
    }

    .self__fim {
        display: flex;
        align-items: center;
        gap: 6rem;
        padding-bottom: 1.5rem;
    }

    .self__hora {
        font-size: 2rem;
        font-weight: 200;
    }

    .self__tempo {
        color: var(--navy-200);
    }
}